body {
    font-family: Arial, sans-serif;
    background-image: url(background.png);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.video-container {
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.controls {
    margin-top: 10px;
}

button {
    padding: 10px;
    margin: 0 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Landscape mode */
.landscape {
    width: 600px;
    height: 340px; /* Maintain landscape aspect ratio */
}

/* Portrait mode */
.portrait {
    width: 340px;
    height: 600px; /* Maintain portrait aspect ratio */
}
